/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif; /* Fonte para todo o conteúdo */
    background-color: #000000; /* Cor de fundo suave para a página */
    margin: 0;
    padding: 0;
}

/* Estilo para o cabeçalho */
header {
    background-color: #2419bd; /* Cor de fundo azul para o cabeçalho */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Alinha o título no centro */
}

header h1 {
    color: white; /* Cor do texto do título */
    font-size: 2.5em; /* Tamanho da fonte */
}

/* Estilo para o conteúdo principal */
main {
    text-align: center; /* Centraliza o conteúdo */
    padding: 40px; /* Espaçamento interno */
}

main p {
    font-size: 1.2em; /* Tamanho da fonte */
    color: green; /* Cor do texto do parágrafo */
}

/* Estilo para o rodapé */
footer {
    background-color: #f0f0f0; /* Cor de fundo suave para o rodapé */
    text-align: center; /* Alinha o texto no centro */
    padding: 20px; /* Espaçamento interno */
}

footer p {
    color: pink; /* Cor do texto do rodapé */
    font-size: 1.5em; /* Tamanho da fonte */
    display: inline-block;
}

/* Flores nas laterais do texto */
footer p::before,
footer p::after {
    content: "🌸"; /* Flores antes e depois do texto */
    margin: 0 10px; /* Espaçamento das flores */
    font-size: 1.5em;
}