body {
    background: url(../imagens/School_White_background_Pencils_Multicolor_568201_1920x1080.jpg);
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/* Logo centralizada */
.logo {
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    margin: 0 auto 20px;
    height: 80px;
    width: auto;
    max-width: 200px;
    height: auto;
}


.container {
    background-color: white;
    padding: 40px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 700px;
    height: 400px;
    border: 5px solid #004080;
}

h1 {
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #555;
}

.form-control {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.button {
    background-color: #004080;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #003366;
}

a {
    color: #004080;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.esqueceu-senha-texto {
    text-align: center; /* Centraliza o conteúdo */
    margin-top: 1rem; /* Ajusta espaçamento */
}

.texto-esqueci-senha {
    color: #000; /* preto */
}

.link-esqueci-senha {
    color: #007bff; /* azul padrão bootstrap */
    cursor: pointer;
}

.link-esqueci-senha:hover {
    color: #0056b3; /* azul mais escuro no hover */
    text-decoration: underline; /* Adiciona sublinhado no hover */
}

.mensagem-login {
    position: fixed;
    color: red;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 15px;
    margin-top: 600px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

/* Laptops */
@media (width: 1281px) and (height: 1440px) {}